In [24]:
from os import listdir
import pandas as pd
from collections import defaultdict

In [30]:
datafiles = ['../data/' + x for x in listdir('../data/')]

list_ = []
for file_ in datafiles:
    df = pd.read_csv(file_)
    list_.append(df)
frame = pd.concat(list_)

print frame.shape
frame.head()

(777253, 11)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456,BMT,05/21/2016,00:00:00,REGULAR,5672118,1920707
1,A002,R051,02-00-00,59 ST,NQR456,BMT,05/21/2016,04:00:00,REGULAR,5672183,1920719
2,A002,R051,02-00-00,59 ST,NQR456,BMT,05/21/2016,08:00:00,REGULAR,5672214,1920761
3,A002,R051,02-00-00,59 ST,NQR456,BMT,05/21/2016,12:00:00,REGULAR,5672330,1920867
4,A002,R051,02-00-00,59 ST,NQR456,BMT,05/21/2016,16:00:00,REGULAR,5672640,1920936

In [33]:
units = defaultdict(list)

for index, row in frame.iterrows():
    units[tuple(row[0:4])].append(row[4:].tolist())
    
print len(units)

print units

3
defaultdict(<type 'list'>, {('A002', 'R051', '02-00-00', '59 ST'): [['NQR456', 'BMT', '05/21/2016', '00:00:00', 'REGULAR', 5672118, 1920707], ['NQR456', 'BMT', '05/21/2016', '04:00:00', 'REGULAR', 5672183, 1920719], ['NQR456', 'BMT', '05/21/2016', '08:00:00', 'REGULAR', 5672214, 1920761], ['NQR456', 'BMT', '05/21/2016', '12:00:00', 'REGULAR', 5672330, 1920867], ['NQR456', 'BMT', '05/21/2016', '16:00:00', 'REGULAR', 5672640, 1920936], ['NQR456', 'BMT', '05/21/2016', '20:00:00', 'REGULAR', 5673031, 1921000], ['NQR456', 'BMT', '05/22/2016', '00:00:00', 'REGULAR', 5673268, 1921052], ['NQR456', 'BMT', '05/22/2016', '04:00:00', 'REGULAR', 5673298, 1921061], ['NQR456', 'BMT', '05/22/2016', '08:00:00', 'REGULAR', 5673312, 1921080], ['NQR456', 'BMT', '05/22/2016', '12:00:00', 'REGULAR', 5673379, 1921156], ['NQR456', 'BMT', '05/22/2016', '16:00:00', 'REGULAR', 5673632, 1921221], ['NQR456', 'BMT', '05/22/2016', '20:00:00', 'REGULAR', 5673926, 1921278], ['NQR456', 'BMT', '05/23/2016', '00:00:00', 'REGULAR', 5674110, 1921312], ['NQR456', 'BMT', '05/23/2016', '04:00:00', 'REGULAR', 5674119, 1921317], ['NQR456', 'BMT', '05/23/2016', '08:00:00', 'REGULAR', 5674168, 1921419], ['NQR456', 'BMT', '05/23/2016', '12:00:00', 'REGULAR', 5674355, 1921734], ['NQR456', 'BMT', '05/23/2016', '16:00:00', 'REGULAR', 5674683, 1921793], ['NQR456', 'BMT', '05/23/2016', '20:00:00', 'REGULAR', 5675567, 1921869], ['NQR456', 'BMT', '05/24/2016', '00:00:00', 'REGULAR', 5675809, 1921901], ['NQR456', 'BMT', '05/24/2016', '04:00:00', 'REGULAR', 5675830, 1921904], ['NQR456', 'BMT', '05/24/2016', '08:00:00', 'REGULAR', 5675876, 1922006], ['NQR456', 'BMT', '05/24/2016', '12:00:00', 'REGULAR', 5676050, 1922311], ['NQR456', 'BMT', '05/24/2016', '16:00:00', 'REGULAR', 5676339, 1922397], ['NQR456', 'BMT', '05/24/2016', '20:00:00', 'REGULAR', 5677224, 1922482], ['NQR456', 'BMT', '05/25/2016', '00:00:00', 'REGULAR', 5677518, 1922512], ['NQR456', 'BMT', '05/25/2016', '04:00:00', 'REGULAR', 5677534, 1922517], ['NQR456', 'BMT', '05/25/2016', '08:00:00', 'REGULAR', 5677589, 1922631], ['NQR456', 'BMT', '05/25/2016', '12:00:00', 'REGULAR', 5677764, 1922959], ['NQR456', 'BMT', '05/25/2016', '16:00:00', 'REGULAR', 5678117, 1923028], ['NQR456', 'BMT', '05/25/2016', '20:00:00', 'REGULAR', 5679060, 1923106], ['NQR456', 'BMT', '05/26/2016', '00:00:00', 'REGULAR', 5679349, 1923147], ['NQR456', 'BMT', '05/26/2016', '04:00:00', 'REGULAR', 5679379, 1923149], ['NQR456', 'BMT', '05/26/2016', '08:00:00', 'REGULAR', 5679420, 1923262], ['NQR456', 'BMT', '05/26/2016', '12:00:00', 'REGULAR', 5679595, 1923576], ['NQR456', 'BMT', '05/26/2016', '16:00:00', 'REGULAR', 5679985, 1923681], ['NQR456', 'BMT', '05/26/2016', '20:00:00', 'REGULAR', 5680914, 1923750], ['NQR456', 'BMT', '05/27/2016', '00:00:00', 'REGULAR', 5681182, 1923777], ['NQR456', 'BMT', '05/27/2016', '04:00:00', 'REGULAR', 5681216, 1923782], ['NQR456', 'BMT', '05/27/2016', '08:00:00', 'REGULAR', 5681259, 1923884], ['NQR456', 'BMT', '05/27/2016', '12:00:00', 'REGULAR', 5681423, 1924177], ['NQR456', 'BMT', '05/27/2016', '16:00:00', 'REGULAR', 5681948, 1924260], ['NQR456', 'BMT', '05/27/2016', '20:00:00', 'REGULAR', 5682728, 1924311]], ('A002', 'R051', '02-03-00', '59 ST'): [['NQR456', 'BMT', '05/21/2016', '00:00:00', 'REGULAR', 702936, 2655468], ['NQR456', 'BMT', '05/21/2016', '04:00:00', 'REGULAR', 702951, 2655501], ['NQR456', 'BMT', '05/21/2016', '08:00:00', 'REGULAR', 702962, 2655627], ['NQR456', 'BMT', '05/21/2016', '12:00:00', 'REGULAR', 703006, 2656031], ['NQR456', 'BMT', '05/21/2016', '16:00:00', 'REGULAR', 703134, 2656508], ['NQR456', 'BMT', '05/21/2016', '20:00:00', 'REGULAR', 703312, 2656947], ['NQR456', 'BMT', '05/22/2016', '00:00:00', 'REGULAR', 703428, 2657149], ['NQR456', 'BMT', '05/22/2016', '04:00:00', 'REGULAR', 703443, 2657182], ['NQR456', 'BMT', '05/22/2016', '08:00:00', 'REGULAR', 703445, 2657240], ['NQR456', 'BMT', '05/22/2016', '12:00:00', 'REGULAR', 703485, 2657521], ['NQR456', 'BMT', '05/22/2016', '16:00:00', 'REGULAR', 703572, 2657916], ['NQR456', 'BMT', '05/22/2016', '20:00:00', 'REGULAR', 703686, 2658251], ['NQR456', 'BMT', '05/23/2016', '00:00:00', 'REGULAR', 703766, 2658375], ['NQR456', 'BMT', '05/23/2016', '04:00:00', 'REGULAR', 703772, 2658389], ['NQR456', 'BMT', '05/23/2016', '08:00:00', 'REGULAR', 703788, 2658678], ['NQR456', 'BMT', '05/23/2016', '12:00:00', 'REGULAR', 703853, 2659516]], ('A002', 'R051', '02-00-01', '59 ST'): [['NQR456', 'BMT', '05/21/2016', '00:00:00', 'REGULAR', 5205788, 1143484], ['NQR456', 'BMT', '05/21/2016', '04:00:00', 'REGULAR', 5205835, 1143485], ['NQR456', 'BMT', '05/21/2016', '08:00:00', 'REGULAR', 5205859, 1143509], ['NQR456', 'BMT', '05/21/2016', '12:00:00', 'REGULAR', 5205981, 1143583], ['NQR456', 'BMT', '05/21/2016', '16:00:00', 'REGULAR', 5206261, 1143639], ['NQR456', 'BMT', '05/21/2016', '20:00:00', 'REGULAR', 5206622, 1143699], ['NQR456', 'BMT', '05/22/2016', '00:00:00', 'REGULAR', 5206752, 1143718], ['NQR456', 'BMT', '05/22/2016', '04:00:00', 'REGULAR', 5206769, 1143721], ['NQR456', 'BMT', '05/22/2016', '08:00:00', 'REGULAR', 5206776, 1143730], ['NQR456', 'BMT', '05/22/2016', '12:00:00', 'REGULAR', 5206840, 1143785], ['NQR456', 'BMT', '05/22/2016', '16:00:00', 'REGULAR', 5207058, 1143851], ['NQR456', 'BMT', '05/22/2016', '20:00:00', 'REGULAR', 5207317, 1143915], ['NQR456', 'BMT', '05/23/2016', '00:00:00', 'REGULAR', 5207425, 1143931], ['NQR456', 'BMT', '05/23/2016', '04:00:00', 'REGULAR', 5207429, 1143933], ['NQR456', 'BMT', '05/23/2016', '08:00:00', 'REGULAR', 5207469, 1143991], ['NQR456', 'BMT', '05/23/2016', '12:00:00', 'REGULAR', 5207645, 1144128], ['NQR456', 'BMT', '05/23/2016', '16:00:00', 'REGULAR', 5207893, 1144181], ['NQR456', 'BMT', '05/23/2016', '20:00:00', 'REGULAR', 5208626, 1144231], ['NQR456', 'BMT', '05/24/2016', '00:00:00', 'REGULAR', 5208801, 1144246], ['NQR456', 'BMT', '05/24/2016', '04:00:00', 'REGULAR', 5208812, 1144249], ['NQR456', 'BMT', '05/24/2016', '08:00:00', 'REGULAR', 5208861, 1144304], ['NQR456', 'BMT', '05/24/2016', '12:00:00', 'REGULAR', 5209041, 1144458], ['NQR456', 'BMT', '05/24/2016', '16:00:00', 'REGULAR', 5209329, 1144507], ['NQR456', 'BMT', '05/24/2016', '20:00:00', 'REGULAR', 5210093, 1144544], ['NQR456', 'BMT', '05/25/2016', '00:00:00', 'REGULAR', 5210303, 1144570], ['NQR456', 'BMT', '05/25/2016', '04:00:00', 'REGULAR', 5210314, 1144572], ['NQR456', 'BMT', '05/25/2016', '08:00:00', 'REGULAR', 5210355, 1144634], ['NQR456', 'BMT', '05/25/2016', '12:00:00', 'REGULAR', 5210529, 1144754], ['NQR456', 'BMT', '05/25/2016', '16:00:00', 'REGULAR', 5210848, 1144805], ['NQR456', 'BMT', '05/25/2016', '20:00:00', 'REGULAR', 5211470, 1144869], ['NQR456', 'BMT', '05/26/2016', '00:00:00', 'REGULAR', 5211673, 1144893], ['NQR456', 'BMT', '05/26/2016', '04:00:00', 'REGULAR', 5211690, 1144896], ['NQR456', 'BMT', '05/26/2016', '08:00:00', 'REGULAR', 5211736, 1144936], ['NQR456', 'BMT', '05/26/2016', '12:00:00', 'REGULAR', 5211896, 1145086], ['NQR456', 'BMT', '05/26/2016', '16:00:00', 'REGULAR', 5212227, 1145133], ['NQR456', 'BMT', '05/26/2016', '20:00:00', 'REGULAR', 5212960, 1145187], ['NQR456', 'BMT', '05/27/2016', '00:00:00', 'REGULAR', 5213154, 1145203], ['NQR456', 'BMT', '05/27/2016', '04:00:00', 'REGULAR', 5213164, 1145205], ['NQR456', 'BMT', '05/27/2016', '08:00:00', 'REGULAR', 5213205, 1145242], ['NQR456', 'BMT', '05/27/2016', '12:00:00', 'REGULAR', 5213364, 1145366], ['NQR456', 'BMT', '05/27/2016', '16:00:00', 'REGULAR', 5213760, 1145427], ['NQR456', 'BMT', '05/27/2016', '20:00:00', 'REGULAR', 5214396, 1145474]]})